* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    font-family: 'Inter', sans-serif;
    font-weight: 400; 
    background-color: #121212; /* Темный фон для всего */
    height: 100%
}

html {
    height: 100%;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

button {
    background: transparent;
    border: 0;
    cursor: pointer;
}

button, input {
    outline: none; 
    border: none;  
}

button:focus, input:focus {
    outline: none;
    border: none;
}